server:
  port: 8180
  
spring:
  security:
    oauth2:
      host:
        keycloak:
          url: http://localhost:8888/auth
          realm: master
          client-id: trakti-client
          client-secret: 3b87f36f-e960-45a0-9ddf-40fac5450b0a
          username: admin
          password: admin
      client:
        provider:
          oidc:
            jwk-set-uri: http://localhost:8888/auth/realms/trakti/protocol/openid-connect/certs
            issuer-uri: http://localhost:8888/auth/realms/trakti
        registration:
          oidc:
            client-id: trakti-client
            client-secret: 3b87f36f-e960-45a0-9ddf-40fac5450b0a
  neo4j:
    uri: neo4j://localhost:7687
    authentication: 
      username: neo4j
      password: admin
  data:
    neo4j:
      database: neo4j
      
#logging:
#  level:
#    org.springframework:
#      data:
#        neo4j:DEBUG

              
